
body{
    margin: 0% 0% 0% 0%;
    width: 100%;
    height: 100%;
}

.separator{
    width: 0.1%;
    height: 100%;
    background-color: white;
    margin-left: 35%;
}

.leftPart{
    margin-left: 0%;
    margin-top: 0%;
    background-color: rgb(32, 31, 31);
    width: 35%;
    height: 100%;
    
    position: absolute;

    
    text-align: center;
}
.leftPart div img{

    width: 256 px;
    height: 256 px;

    margin-top: 40%;
    

    margin-bottom: 10%; /*margen respecto elemento inferior*/
    
}
.leftPart h1{
    font-size: x-large;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10%;
    display: inline; /*ocupa solo el texto*/
}
.tabla{
    margin-top: 5%;
}

.rightPart{
    margin-left: 35.1%;
    background-color: black;
    width: 64.9%;
    height: 100%;
    position: absolute;

    z-index: 1;
}

.rayaHoriz{
    width: 90%;
    background-color: rgb(255, 255, 255);
    height: 2px;
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 1%;
    margin-right: 5%;
    z-index: 2;
}

.tableButtons{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 1%;
}
button{
    /*border: borde exterior
    outline: borde al pulsar*/
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
    color: rgb(185, 184, 184);
    background: transparent;
    border: transparent;
    outline: none;
}
button:hover{
    color: white;
}


.aboutMe{
    width: 80%;
    margin-left: 10%;
    margin-top: 0%;
}
.aboutMe p{
    color: white;
    font-family: 'Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: justify;
    font-style: normal;

    margin-top: 5%;
}
.aboutMe a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

.exp{
    width: 80%;
    margin-left: 10%;
    margin-top: 0%;
}
.exp p{
    color: white;
    font-family: 'Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: justify;
    font-style: normal;

    margin-top: 5%;
}
.exp a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}


#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: visible;
    background: url('Imagenes/tenor.gif') no-repeat center center;
 }
#content {
    display: none;
}